{% extends 'layout.html' %}
{% load filters %}

{% block title %}
    {{titulo}}  
{% endblock %}

{% block content %}
{% comment "Comentarios en Django" %}
    h1 class="title">Este texto está comentado y no se va a imprimir</h1>
{% endcomment %}
<h1 class="title">{{titulo}}</h1>
<h2>Esta es la página de inicio</h2>


{{ "Fabi"|saludo|safe}}

{% if nombre %}
    <p>Hola {{nombre}}!</p>
{% endif %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nobis numquam dolore commodi placeat eius deserunt quis! Ad quo, repudiandae mollitia, quasi laboriosam provident quisquam sunt error, sapiente adipisci ut.</p>
{% endblock %}

